$light_gray: #bdc3c7;
$gray: #95a5a6;
$dark_gray: #7f8c8d;
$white: #ecf0f1;
$red: #e74c3c;
$dark_red: #c0392b;
$orange: #e67e22;
$dark_orange: #e67e22;
$yellow: #f1c40f;
$tangerine: #f39c12;
$green: #2ecc71;
$dark_green: #27ae60;
$turquoise: #1abc9c;
$dark_turquoise: #16a085;
$blue: #3498db;
$dark_blue: #2980b9;
$violet: #8e44ad;
$mauve: #9b59b6;
$black: #34495e;
$midnight: #2c3e50;