@import 'colors';

html{
  background-color: $light_gray;
}

body{
  font-family: "clear_sans";
  font-size: 1.1em;
  width: 960px;
  background-color: $white;
  margin: 0 auto;
  padding: 10px 0;
}

body > * {
  padding: 0 40px;
}

div {
  margin: 10px 0;
}
pre, code{
  font-family: "inconsolata";
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

a{
  color: $dark_blue;
  text-decoration: none;
  &:visited{
    color: $violet;
  }
  &:hover{
    text-decoration: underline;
  }
}
