@import 'colors';

html{
  background-color: $light_gray;
}

body{
  font-family: "PTSansRegular";
  font-size: 1.1em;
  width: 960px;
  background-color: $white;
  margin: 0 auto;
  padding: 10px 0;
}

body > * {
  padding: 0 40px;
}

strong{
  font-family: "PTSansBold";
}

em{
  font-family: "PTSansItalic";
}

h1, h2, h3, h4, h5, h6{
  font-family: "BitterRegular";
  strong{
    font-family: "BitterBold";
  }
  em{
    font-family: "BitterItalic";
  }
}

div {
  margin: 10px 0;
}
pre, code{
  font-family: "InconsolataMedium";
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

a{
  color: $dark_blue;
  text-decoration: none;
  &:visited{
    color: $violet;
  }
  &:hover{
    text-decoration: underline;
  }
}